## RASA-Drone

build/
devel/
logs/
src/pid_node/build/
.catkin_tools

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vscode/browse.vc.db


